body{
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: black;
}

#DivResult, #DivResult2, #DivResult3, #DivResult4{
    background-color: darkblue;
    color: pink;
    width: 33%;
    justify-content: center;
    align-self: center;
    text-transform:lowercase;
    text-align: center;
    font-size: 2rem;
    height: 10rem;    
}
